MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/surveyluhh
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key_here
ALLOWED_ORIGINS=http://localhost:3000
SELENIUM_REMOTE_URL=http://selenium:4444/wd/hub
